---
import Main from "@layouts/Main.astro";
import LinkNoFollow from "@components/LinkNoFollow.astro";
// import HeaderLink from "@components/HeaderLink.astro";
---

<Main>
  <article class="flex flex-col gap-16 p-4">
    <header class="grid gap-2">
      <h1 class="text-2xl md:text-3xl">
        Que tener en cuenta a la hora de comprar una batidoras amasadora
      </h1>

      <p class="text-md md:text-xl">
        Con gusto te ayudaré a elegir la mejor batidora amasadora para ti. Al
        buscar una batidora amasadora, hay varios aspectos importantes a
        considerar.
      </p>
    </header>
    <section class="grid md:grid-cols-3 gap-x-8 gap-y-20">
      <article class="flex flex-col gap-4">
        <h2 class="text-lg md:text-3xl" 2>Potencia del motor</h2>
        <p class="text-md md:text-xl">
          La potencia determina la capacidad de la batidora para mezclar y
          amasar. Busca una con al menos 500 vatios para un rendimiento
          eficiente.
        </p>
      </article>
      <article class="flex flex-col gap-4">
        <h2 class="text-lg md:text-3xl" 2>Capacidad y tamaño</h2>
        <p class="text-md md:text-xl">
          Asegúrate de que la batidora tenga la capacidad adecuada para tus
          necesidades. Si sueles hacer grandes cantidades de masa, una con mayor
          capacidad será más conveniente.
        </p>
      </article>
      <article class="flex flex-col gap-4">
        <h2 class="text-lg md:text-3xl" 2>Número de velocidades</h2>
        <p class="text-md md:text-xl">
          Una variedad de velocidades te permitirá ajustar la potencia según el
          tipo de masa que estés preparando. Algunas batidoras incluso tienen
          una función de pulso para un mayor control.
        </p>
      </article>
      <article class="flex flex-col gap-4">
        <h2 class="text-lg md:text-3xl" 2>Accesorios incluidos</h2>
        <p class="text-md md:text-xl">
          Revisa los accesorios que vienen con la batidora, como ganchos para
          amasar, batidores y varillas. Cuantos más accesorios incluya, mayor
          versatilidad tendrá la batidora.
        </p>
      </article>
      <article class="flex flex-col gap-4">
        <h2 class="text-lg md:text-3xl" 2>Materiales de construcción</h2>
        <p class="text-md md:text-xl">
          Opta por modelos fabricados con materiales duraderos y resistentes.
          Las batidoras con carcasas de metal tienden a ser más robustas que las
          de plástico.
        </p>
      </article>
      <article class="flex flex-col gap-4">
        <h2 class="text-lg md:text-3xl" 2>Estabilidad y diseño</h2>
        <p class="text-md md:text-xl">
          Una base antideslizante y un diseño equilibrado ayudarán a mantener la
          estabilidad durante el uso. También es útil si tiene una cabeza
          inclinable para facilitar el acceso al recipiente.
        </p>
      </article>
      <article class="flex flex-col gap-4">
        <h2 class="text-lg md:text-3xl" 2>Limpieza y mantenimiento</h2>
        <p class="text-md md:text-xl">
          Busca modelos fáciles de desmontar y limpiar. Algunas batidoras tienen
          piezas aptas para lavavajillas, lo que facilita el mantenimiento.
        </p>
      </article>
      <article class="flex flex-col gap-4">
        <h2 class="text-lg md:text-3xl" 2>Opiniones y reseñas</h2>
        <p class="text-md md:text-xl">
          Investiga las opiniones de otros compradores para obtener una
          perspectiva real sobre la calidad y el rendimiento de la batidora que
          estás considerando.
        </p>
      </article>
      <article class="flex flex-col gap-4">
        <h2 class="text-lg md:text-3xl" 2>Marca y garantía</h2>
        <p class="text-md md:text-xl">
          Opta por marcas reconocidas que ofrezcan garantía. Esto puede darte
          tranquilidad sobre la durabilidad y el servicio postventa del
          producto.
        </p>
      </article>
      <article class="flex flex-col gap-4">
        <h2 class="text-lg md:text-3xl" 2>Presupuesto</h2>
        <p class="text-md md:text-xl">
          Establece un presupuesto y busca opciones que se ajusten a él. Hay
          batidoras amasadoras de buena calidad disponibles en diferentes rangos
          de precio.
        </p>
      </article>
    </section>

    <footer>
      <article class="flex flex-col gap-4">
        <p class="text-md md:text-xl">
          Ten en cuenta estos aspectos y podrás elegir una batidora amasadora
          que se adapte perfectamente a tus necesidades y estilo de cocina.
          ¡Espero que encuentres la opción perfecta!
        </p>
      </article>
    </footer>
  </article>
</Main>
