---
import GalleryAwa from "@components/GalleryAwa.astro";
import Main from "@layouts/Main.astro";

const blenders = await Astro.glob("../../content/batidora-de-pedestal/**/*.md");
const filterPosts = blenders.filter((post) => !post.frontmatter.slug);
---

<Main
  title="Potencia De Batidoras Amasadoras para Reposteria"
  description={`¡Bienvenido! Claro, estaré encantado de ayudarte con eso. Elegir una
          batidora según su potencia es crucial para asegurarte de que cumpla
          con tus necesidades y preferencias al momento de cocinar.`}
>
  <article class="grid px-4 gap-8">
    <header class="col-span-1 flex flex-col">
      <h1 class="text-3xl md:text-4xl lg:text-5xl">
        ¡Bienvenido! Claro, estaré encantado de ayudarte con eso. Elegir una
        batidora según su potencia es crucial para asegurarte de que cumpla con
        tus necesidades y preferencias al momento de cocinar.
      </h1>
    </header>
    <section class="col-span-1 flex flex-col md:grid md:grid-cols-3 gap-8">
      <article class="rounded-md shadow-md shadow-slate-300 p-4 flex flex-col">
        <h2 class="text-2xl md:text-xl">1. Define tus necesidades:</h2>
        <section>
          <p class="text-xl md:text-sm p-2">
            Antes de elegir una batidora, piensa en qué tipo de preparaciones
            realizarás con más frecuencia. ¿Será principalmente para batir
            huevos, mezclar masa para pasteles, hacer puré de sopas o triturar
            hielo?
          </p>
        </section>
      </article>
      <article
        class="rounded-md shadow-md shadow-slate-300 p-4 flex flex-wrap relative"
      >
        <h2 class="text-2xl md:text-xl">
          2. Entiende las categorías de potencia:
        </h2>
        <section class="grid grid-rows justify-center gap-4">
          <div class="group cursor-pointer">
            <p class="text-xl md:text-sm p-2">
              Las batidoras suelen clasificarse en categorías de potencia en
              vatios (W).
            </p>
            <ul
              class="hidden group-hover:w-full group-hover:h-full group-hover:flex group-hover:flex-col gap-2 px-2 divide-y divide-slate-400 z-20"
            >
              <li class="flex flex-col">
                <strong>Menos de 300W:</strong>
                <span>
                  Ideal para tareas básicas como batir huevos y mezclar
                  líquidos.
                </span>
              </li>
              <li class="flex flex-col">
                <strong>300-600W:</strong>
                <span>
                  Adecuado para preparaciones más pesadas como mezclar masas de
                  pasteles y batir ingredientes más densos.
                </span>
              </li>
              <li class="flex flex-col">
                <strong> 600-1000W:</strong>
                <span>
                  Óptimo para tareas más exigentes como triturar hielo, hacer
                  puré de alimentos y mezclar masas más densas.
                </span>
              </li>
            </ul>
          </div>
        </section>
      </article>
      <article
        class="rounded-md shadow-md shadow-slate-300 p-4 flex flex-col justify-center"
      >
        <h2 class="text-2xl md:text-xl">
          3. Considera las funciones adicionales:
        </h2>
        <section>
          <p class="text-xl md:text-sm p-2">
            Algunas batidoras tienen funciones adicionales como trituradoras de
            hielo, procesadores de alimentos o accesorios para amasar. Evalúa si
            estas características son importantes para tus necesidades.
          </p>
        </section>
      </article>
      <article
        class="rounded-md shadow-md shadow-slate-300 p-4 flex flex-col justify-center"
      >
        <h2 class="text-2xl md:text-xl">4. Tipo de batidora:</h2>
        <section>
          <ul class="list-decimal">
            <li class="flex flex-col">
              <strong>Batidoras de mano:</strong>
              <span>
                Más ligeras y versátiles, ideales para tareas simples. La
                potencia varía según el modelo.
              </span>
            </li>
            <li class="flex flex-col">
              <strong>Batidoras de vaso:</strong>
              <span>
                Suelen tener mayor potencia y son ideales para tareas más
                pesadas como triturar hielo o hacer purés.
              </span>
            </li>
          </ul>
        </section>
      </article>
      <article
        class="rounded-md shadow-md shadow-slate-300 p-4 flex flex-col z-10"
      >
        <h2 class="text-2xl md:text-xl">5. Opiniones y reseñas:</h2>
        <section>
          <p class="text-xl md:text-sm p-2">
            Investiga opiniones de usuarios sobre las batidoras que estás
            considerando. Las experiencias de otros usuarios pueden darte una
            idea más clara de la durabilidad y eficacia del producto.
          </p>
        </section>
      </article>
      <article class="rounded-md shadow-md shadow-slate-300 p-4 flex flex-col">
        <h2 class="text-2xl md:text-xl">6. Marca y calidad:</h2>
        <section>
          <p class="text-xl md:text-sm p-2">
            Opta por marcas reconocidas que tengan buena reputación en cuanto a
            durabilidad y servicio al cliente. La calidad de construcción y los
            materiales utilizados también son importantes.
          </p>
        </section>
      </article>
      <article class="rounded-md shadow-md shadow-slate-300 p-4 flex flex-col">
        <h2 class="text-2xl md:text-xl">7. Garantía:</h2>
        <section>
          <p class="text-xl md:text-sm p-2">
            Verifica la garantía ofrecida por el fabricante. Una garantía más
            larga generalmente sugiere mayor confianza en la durabilidad del
            producto.
          </p>
        </section>
      </article>
      <article class="rounded-md shadow-md shadow-slate-300 p-4 flex flex-col">
        <h2 class="text-2xl md:text-xl">8. Presupuesto:</h2>
        <section>
          <p class="text-xl md:text-sm p-2">
            Establece un presupuesto antes de comenzar tu búsqueda. Puede haber
            opciones de calidad en una variedad de rangos de precios.
          </p>
        </section>
      </article>
      <footer class="col-span-3">
        <span
          >Con estos pasos, deberías poder elegir una batidora que se ajuste a
          tus necesidades y presupuesto. ¡Espero que encuentres la batidora
          perfecta para ti!</span
        >
      </footer>
    </section>
    <article class="text-left">
      <header class="flex flex-col py-4">
        <h2 class="text-2xl md:text-4xl font-bold">
          Lista de Batidoras Amasadora.
        </h2>
        <span class="md:text-xl py-4"
          >Haz clic en la imagen para verla en alta resolución:</span
        >
      </header>
      <section class="flex">
        <GalleryAwa items={filterPosts} />
      </section>
    </article>
  </article>
</Main>
