---
import Banner from "@components/Banner.astro";
import GalleryAwa from "@components/GalleryAwa.astro";
import LinkNoFollow from "@components/LinkNoFollow.astro";
import Main from "@layouts/Main.astro";
const blenders = await Astro.glob("../../content/batidora-de-pedestal/**/*.md");
const filterPosts = blenders.filter((post) => !post.frontmatter.slug);
---

<Main
  title={"Batidoras amasadoras 2025"}
  description={"Mostramos las reseñas de las batidoras amasadoras 2025."}
>
  <Banner slot="before" src="/images/webp/resena-1.webp" />
  <article class="flex flex-col px-4 border-b-2 border-spacing-5 pb-2 mb-8">
    <header>
      <h1 class="text-xl md:text-4xl py-4">Batidoras amasadoras 2025</h1>
      <span class="text-xl md:text-2xl"
        >Explora nuestra sección de reseñas como tu brújula confiable en la
        búsqueda de la batidora amasadoras perfecta.</span
      >
    </header>
  </article>
  <article class="flex flex-col gap-6">
    <p class="text-xl px-4">
      Adéntrate en nuestra sección de reseñas, una cuidadosa recopilación de
      evaluaciones diseñadas exclusivamente para brindarte una visión detallada
      de nuestras destacadas batidoras amasadoras. Como creador de estas
      reseñas, nos embarcamos en un viaje minucioso para proporcionarte una
      perspectiva completa de cada producto, detallando características
      distintivas, rendimiento excepcional y aspectos destacados que hacen que
      cada batidora sea única.
    </p>
    <p class="text-xl px-4">
      Estas reseñas, meticulosamente elaboradas, son como hojas de ruta
      personalizadas que te guiarán a través del vasto paisaje de opciones,
      permitiéndote descubrir las sutilezas de cada modelo. Al ser creadas
      internamente, garantizamos información detallada y precisa sobre la
      potencia, la versatilidad y otros atributos cruciales que influyen en tu
      decisión de compra.
    </p>
    <p class="text-xl px-4">
      Cada evaluación es una obra maestra de información, detallando no solo las
      especificaciones técnicas, sino también experiencias prácticas, destacando
      la facilidad de uso, la durabilidad a largo plazo y otros aspectos que a
      menudo marcan la diferencia en la satisfacción del usuario. Al confiar en
      nuestras reseñas, te proporcionamos la confianza necesaria para tomar
      decisiones informadas, adaptando tu elección a tus necesidades culinarias
      específicas.
    </p>
    <p class="text-xl px-4">
      Explora nuestras evaluaciones detalladas y descubre cómo cada batidora de
      pedestal se destaca en términos de calidad y funcionalidad. Nuestras
      reseñas personalizadas son una herramienta valiosa, creada con la atención
      y el conocimiento necesarios para facilitar tu elección y garantizar que
      encuentres la batidora perfecta que eleve tus habilidades culinarias al
      siguiente nivel.
    </p>
  </article>
  <article class="text-left">
    <header class="flex flex-col py-4 px-4">
      <h2 class="text-2xl md:text-4xl font-bold">
        Lista de Batidoras Amasadora.
      </h2>
      <span class="text-lg md:text-2xl py-4"
        >¡Bienvenido a la mejor lista de
        <LinkNoFollow baTrue>batidoras</LinkNoFollow> amasadora!</span
      >
      <span class="md:text-xl py-4"
        >Haz clic en la imagen para verla en alta resolución:</span
      >
    </header>
    <section class="flex">
      <GalleryAwa items={filterPosts} />
    </section>
  </article>
</Main>
