---
import Main from "@layouts/Main.astro";
---

<Main
  title="Orbegozo Batidoras De Pedestal"
  description="Descubre la excelencia culinaria con nuestras batidoras de pedestal de marcas líderes."
>
  <h1>Orbegozo</h1>
</Main>
