---
import Main from "@layouts/Main.astro";
---

<Main
  title="Homlee Batidoras De Pedestal"
  description="Descubre la excelencia culinaria con nuestras batidoras de pedestal de marcas líderes."
>
  <h1>Homlee</h1>
</Main>
