---
import Main from "@layouts/Main.astro";
import HeaderLink from "@components/HeaderLink.astro";
import Banner from "@components/Banner.astro";
import LinkNoFollow from "@components/LinkNoFollow.astro";
import GalleryAwa from "@components/GalleryAwa.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts.ts";
import { getCollection } from "astro:content";
import Tag from "@components/Tag/Tag.astro";
const marcas = await getCollection("batidora-de-pedestal");
const marcasD = marcas.map((item) => {
  if (!item.slug.includes("/")) {
    return item;
  }
});
---

<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <!-- Banner, etc ... -->
  <Banner class="w-full" center slot="before" />

  <!-- Articles -->
  <article class="flex flex-col gap-4 text-left">
    <header class="flex-1 px-4">
      <h2 class="text-4xl md:text-7xl pb-8">
        <a
          title="Que es una batidora amasadoral?"
          href="que-es-una-batidora-amasadora"
          class="font-bold hover:underline"
        >
          Que es una Batidora Amasadora ?
        </a>
      </h2>
      <span class="text-xl md:text-2xl py-4">
        Una batidora amasadora es un electrodoméstico de cocina que se utiliza
        para mezclar, batir y amasar ingredientes. Consta de un motor, un
        pedestal, un tazón y una variedad de accesorios
      </span>
    </header>
    <section class="flex flex-col gap-4">
      <article class="p-4">
        <h2 class="text-2xl font-bold">
          Que tener en cuenta a la hora de comprar una batidoras amasadora
        </h2>
        <p class="text-xl">
          Aspectos que debes tomar en cuenta antes de comprar una
          <LinkNoFollow baTrue>batidoras amasadora</LinkNoFollow> ✔️, el movimiento
          planetario, la capacidad, los
          <LinkNoFollow toUrl="https://amzn.to/48Yhm7b">
            accesorios
          </LinkNoFollow>
          del tazón, las velocidades.
        </p>
        <HeaderLink btn="button:leer" href="/que-tener-en-cuenta">
          Leer más
        </HeaderLink>
      </article>
      <article class="p-4">
        <h2 class="text-2xl font-bold">
          Aquí tienes algunas marcas de batidoras amasadoras
        </h2>
        <ul class="ulGrid">
          {
            marcasD.map(
              (marca) =>
                marca && (
                  <Tag
                    label={marca.slug.replace("-", " ").toUpperCase()}
                    slug={marca.slug}
                  />
                ),
            )
          }
        </ul>
        <style>
          .ulGrid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
            padding: 1em 0;
            margin: 0;
            gap: 1em;
          }
        </style>
        <HeaderLink btn="button:leer" href="/marcas">Leer más</HeaderLink>
      </article>
      <article class="p-4">
        <h2 class="text-2xl font-bold">
          ¿Qué potencia de batidora amasadora casera se necesita?
        </h2>

        <p class="text-xl">
          La potencia ideal para una batidora amasadora puede variar según las
          necesidades específicas de cada persona y el tipo de tareas que se
          realizarán con la batidora. Sin embargo, generalmente, una potencia
          que oscile entre 300 y 800 vatios puede ser adecuada para la mayoría
          de las necesidades en la cocina doméstica.
        </p>
        <HeaderLink
          btn="button:leer"
          href="que-tener-en-cuenta/potencia-amasadora"
        >
          Leer más
        </HeaderLink>
      </article>
    </section>
  </article>
  <article class="text-left">
    <header class="flex flex-col py-4 px-4">
      <h2 class="text-2xl md:text-4xl font-bold">
        Lista de Batidoras Amasadora.
      </h2>
      <span class="text-lg md:text-2xl py-4"
        >¡Bienvenido a la mejor lista de
        <LinkNoFollow baTrue>batidoras</LinkNoFollow> amasadora!</span
      >
      <span class="md:text-xl py-4"
        >Haz clic en la imagen para verla en alta resolución:</span
      >
    </header>
    <section class="flex">
      <GalleryAwa />
    </section>
  </article>
</Main>
