---
const { title, description, url } = Astro.props;
---

<article class="group flex flex-col gap-4 py-4 relative">
  <section class="group/btn flex flex-col gap-2">
    {
      url && (
        <a
          aria-label={url}
          href={url}
          class="hidden group-hover:inline-flex group-hover:absolute group-hover:top-0 group-hover:right-2 border border-yellow-500 p-2 text-stone-500 font-bold rounded-md bg-blue-200"
        >
          Info
        </a>
      )
    }

    {title && <h2 class="text-3xl md:text-2xl">{title}</h2>}

    <p class="text-xl md:text-sm lg:text-xs]">
      {description}
    </p>
  </section>
</article>
