---
const today = new Date();
import HeaderLink from "./HeaderLink.astro";
import GitHub from "./iconos/GitHub.astro";
---

<footer class="w-full md:h-52 flex bg-stone-800 text-stone-200 gap-4 py-6 z-10">
  <section
    class="w-full m-auto md:max-w-7xl flex flex-col md:flex-row justify-around gap-6"
  >
    <address
      class="flex-1 md:flex items-baseline gap-4 justify-evenly text-sm px-4"
    >
      <HeaderLink
        href="/"
        title={`Batidoras Amasadoras ${today.getFullYear()}`}
      >
        <h2 class="font-family-main-title text-xl md:text-4xl">
          <span class="text-[#00BCEA]">Batidoras Amasadoras</span>
          <span class="text-red-600 text-sm">{today.getFullYear()}</span>
        </h2>
      </HeaderLink>
      <strong
        style={{
          display: "flex",
          alignItems: "center",
          gap: "1em",
        }}
      >
        <h3 class="text-sm" title="JuanDNJ">JuanDNJ</h3>
        <a
          target="_blank"
          href="https://github.com/JuanDNJ"
          title="Github profile"
        >
          <GitHub width="28px" height="28px" />
        </a>
      </strong>
      <a href="/afiliados-amazon" class="text-xs hover:underline"
        >Programa de Afiliados de Amazon EU y Amazon Services LLC</a
      >
    </address>
  </section>
</footer>
