---
import Blender from "./Blender/Blender.astro";
import Grid from "./Grid.astro";
const { p, rems, items } = Astro.props;
---

<section
  style={{
    display: "flex",
    padding: p ? p : "1em",
    width: "100%",
  }}
>
  <Grid columns={rems ? rems : "14rem"}>
    {items.map((item) => <Blender item={item.frontmatter || item.data} />)}
  </Grid>
</section>
