---
const today = new Date();
---

<header class="flex items-center justify-center px-2 py-2 md:py-4 bg-stone-200">
  <a href="/">
    <h1
      class="font-family-main-title text-5xl sm:text-6xl md:text-7xl: lg:text-[6rem] py-8 sm:py-6 md:py-4 lg:py-2"
    >
      <span class="text-[#00BCEA]">Batidoras Amasadoras</span>
      <span class="hidden md:inline text-stone-800 text-xl"
        >{today.getFullYear()}</span
      >
    </h1>
  </a>
</header>
