---
import { URLS_AMAZON } from "@config/index";
const { toUrl, baTrue, color, styleBtn } = Astro.props;
const classList = {
  build:
    "flex px-4 py-2 text-sm text-piolin bg-stone-500 hover:bg-yellow-300  hover:text-stone-800",
  view: "flex px-4 py-2 text-sm bg-yellow-500 hover:bg-yellow-300 text-stone-800 hover:text-stone-600",
  default: "text-stone-800 hover:text-stone-600 hover:underline",
};
---

<a
  target="_blank"
  rel="nofollow"
  arial-label={`Link to Amazon`}
  href={(baTrue && URLS_AMAZON.AMAZON) || toUrl}
  title={(baTrue && styleBtn === "view" && "Ver en Amazon") ||
    "Comprar en Amazon"}
  class={`max-h-8 items-center justify-center font-semibold rounded  
              ${
                (!styleBtn && classList.default) ||
                (styleBtn === "defautl" && classList.default) ||
                (styleBtn === "view" && classList.view) ||
                (styleBtn === "build" && classList.build)
              } 
          `}
>
  {
    (!styleBtn && <slot />) ||
      (styleBtn === "defautl" && "Amazon") ||
      (styleBtn === "view" && "Ver en Amazon") ||
      (styleBtn === "build" && "Comprar en Amazon")
  }
</a>
