---
import { getCollection } from "astro:content";

export const getStaticPaths = async () => {
  const marcas = (await getCollection("marcas")) as [any];

  return marcas.map((props) => {
    return {
      params: { marca: props.data.marca },
      props: { props },
    };
  });
};

const { marca } = Astro.params;
const {
  props: { id, data, body },
} = Astro.props;
---

{body}

<!-- {JSON.stringify() <props.body title="asdasd"></props.body>} -->
<strong>{data.marca}</strong>
<p>{data.description}</p>
