---
import { getCollection } from "astro:content";
import HeaderLink from "@components/HeaderLink.astro";
import MarcasLayout from "@layouts/MarcasLayout.astro";
import Tag from "@components/Tag/Tag.astro";
import stylesMarcas from "./css/marcas.module.css";
const collection = await getCollection("marcas");
---

<MarcasLayout
  title="Marcas de batidoras amasadoras"
  description="Descubre la excelencia culinaria con nuestras batidoras amasadoras de marcas líderes."
>
  <section class="grid gap-6 text-left">
    <section class="flex flex-col">
      <p class="text-xl p-4">
        En un fascinante mundo de electrodomésticos, donde la innovación y la
        calidad se entrelazan, surge un selecto grupo de marcas que redefine la
        experiencia culinaria. En el corazón de este vibrante mercado de
        batidoras, se encuentran nombres que destacan por su excelencia y
        compromiso con la satisfacción del cliente.
      </p>
      {
        collection.map((record) => (
          <p class="text-xl p-4">
            <strong>{record.data.marca}</strong>, {record.data.description}
          </p>
        ))
      }
      <p class="text-xl p-4">
        En este vibrante escenario de marcas, cada una con su propia historia y
        personalidad, se destaca la pasión compartida por la excelencia. Estas
        batidoras no son solo herramientas de cocina; son testimonios de la
        creatividad, la innovación y el compromiso que dan vida a las cocinas de
        todo el mundo. Con cada mezcla, estas marcas no solo satisfacen el
        hambre, sino que también alimentan la imaginación y la pasión por la
        cocina.
      </p>
    </section>
  </section>
  <section class={stylesMarcas.grid}>
    {collection.map((record) => <Tag label={record.data.marca} />)}
  </section>
</MarcasLayout>
